/*General*/
body{
    padding: 0;
    margin: 0;

    background-color: #2b1c48;

    -ms-overflow-style: none; 
    scrollbar-width: none; 
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none;
}

h1{
    padding: 0;
    margin: 0;
}

h2{
    padding: 0;
    margin: 0;
}

p{
    padding: 0;
    margin: 0;
}

/*Flexbox shortcuts*/
.flex{
    display: flex;
}

.col{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.center{
    justify-content: center;
}

.end{
    justify-content: flex-end;
}

.start{
    justify-content: flex-start;
}

/*Width shortcuts*/
.w50{
    width: 50px;
}

.w100{
    width: 100px;
}

.w200{
    width: 100px;
}

.w400{
    width: 100px;
}

/*Height shortcuts*/
.h50{
    height: 50px;
}

.h100{
    height: 100px;
}

.h200{
    height: 100px;
}

.h400{
    height: 100px;
}

/*Fonts*/
.font-bebas{
    font-family: 'Bebas Neue', cursive;
}

/*Text types*/
.text-title{
    font-family: 'Bebas Neue', cursive;
    color:white;
    font-size: 100pt;
}

.text-subtitle{
    font-family: 'Bebas Neue', cursive;
    color:white;
    font-size: 60pt;
}

.text-basic{
    font-family: 'PT Sans', sans-serif;
    color:white;
    font-size: 25pt;
}

/*Margins*/
.m10{
    margin: 10px;
}

.m50{
    margin: 50px;
}

.m100{
    margin: 100px;
}

/*Buttons*/
.bnt1{
    margin: 7px;
    padding: 15px;

    height: auto;
    width: auto;

    border-radius: 11px;
    border: 0px solid #ffffff;

    background-color: #4a307d;

    color: #f5f3ff;
    font-size: 13pt;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'PT Sans', sans-serif;

    transition-duration: 0.05s;
}

.bnt1:hover{
    background-color: #1a112c;

    color: #f5f3ff;
    transition-duration: 0.05s;
}

.bnt2{
    margin: 7px;
    padding: 15px;

    height: auto;
    width: auto;

    border-radius: 11px;
    border: 2px solid #ff6a6a;

    background-color: #2b1c48;

    color: #f5f3ff;
    font-size: 13pt;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'PT Sans', sans-serif;

    transition-duration: 0.05s;

}

.bnt2:hover{
    background-color: #ff6a6a;

    color: #f5f3ff;
    transition-duration: 0.05s;
}

.bnt3{
    margin: 7px;
    padding: 15px;

    height: auto;
    width: auto;

    border-radius: 11px;
    border: 2px solid #0bda73;

    background-color: #2b1c48;

    color: #f5f3ff;
    font-size: 13pt;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'PT Sans', sans-serif;

    transition-duration: 0.05s;
}

.bnt3:hover{
    background-color: #0bda73;

    color: #f5f3ff;
    transition-duration: 0.05s;
}

.bnt4{
    margin: 7px;
    padding: 15px;

    height: auto;
    width: auto;

    border-radius: 11px;
    border: 2px solid #8470ff;

    background-color: #2b1c48;

    color: #f5f3ff;
    font-size: 13pt;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'PT Sans', sans-serif;

    transition-duration: 0.05s;
}

.bnt4:hover{
    background-color: #8470ff;

    color: #f5f3ff;
    transition-duration: 0.05s;
}

/*Links*/
.a1{
    color: #f5f3ff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 800;
    font-size: 16pt;
    text-decoration: underline;  
}

.a2{
    color: #f5f3ff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 1000;
    font-size: 25pt;
    text-decoration: underline;
}

/*Logo*/
#logo-main{
    margin: 10px;

    width: auto;
    height: 40vh; /*Changes to 25vh with animation*/

    opacity: 0; /*Changes to 1 with animation*/
}

#logo-div{
    background-color: white;
    overflow: hidden;

    height: 100vh; /*Changes to 25vh with animation*/
}

/*Greetings*/
#greetings-div{
    overflow: hidden;
    padding-left:100px; 
    padding-top:80px;

    background-color: #2b1c48;
}

/*Updates*/
#updates-div{
    overflow: hidden;
    padding-left:100px; 
    padding-top:80px;

    background-color: #442c73;
}

#updates-scroll{
    margin-right:100px;
    background-color: #2b1c48;
    border-radius: 10px;
}

/*Services*/
#services-div{
    overflow: hidden;
    padding-left:100px; 
    padding-top:80px;

    background-color: #744cc3;
}

/*Footer*/



