<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" href="css/css.css">
    <title>Sobre nós</title>
    <link rel="icon" href="img/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=0.4">

    <!-- Dependencies -->

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap" rel="stylesheet">

</head>

<body>

    <!-- Navbar -->
    <div class="flex start row h100" style="background-color: #1a112c;">

        <div class="flex center col">
            <a class="text-tiny m10" href="/" style="width: 100px;">< Home</a>
        </div>

        <div style="width: 100%;"></div>

        <div class="flex center col">
            <h2 id="greetings-main" class="m10 text-subtitle" style="margin-bottom:0px; margin-right:50px; width:300px; text-align:end;">Sobre nós</h2>
        </div>

    </div>



</body>

</html>